/client/target/
/server/target/
/common/target/
/server/src/main/java/ONA.booksrecommender/UserDAOTest.java
/server/src/main/java/ONA.booksrecommender/database/Database.java.bak
/server/src/main/java/ONA.booksrecommender/database/dao/BaseDAO.java.bak